<a href="https://colab.research.google.com/github/Piyush1803/Reinforcement-Learning/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [3]:
def quicksort(arr):
  if len(arr) <= 1:
    return arr
  pivot = arr[len(arr) //2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)
print(quicksort([6,4,3,7,2,1,77,5]))

[1, 2, 3, 4, 5, 6, 7, 77]

In [4]:
10/2

5.0

In [6]:
10//2

5

In [8]:
x  =5
print(x, type(x))

5 <class 'int'>

In [10]:
print(x + 1) #Addition
print(x - 1) #Subtration
print(x * 2) #Multiplication
print(x ** 3) #Exponentiation

6
4
10
125

In [11]:
x+=1
print(x)
x *=2
print(x)

6
12

In [12]:
y = 2.5
print(type(y))
print(y,y+1,y*2,y**2)

<class 'float'>
2.5 3.5 5.0 6.25

In [13]:
y = 999.344
print(type(y))

<class 'float'>

In [16]:
t,f = True,False

In [17]:
print(t and f)
print(t or f)
print(t != f)
print(not t)

False
True
True
False

In [22]:
s1 = 'hello'
s2 = "world"
print (s1, len(s2))

name = "Piyush"
surename = " Dhanwal"
print(name+surename)
print(len(name+surename))

hello 5
Piyush Dhanwal
14

In [23]:
hw = '{} {} {}'.format(s1,s2,12)
print(hw)

hello world 12

In [25]:
s3 = 'make'
s4 = 'more'
s5 = 'sensible'

In [28]:
hw12 = '{} {} {}'.format(s3,s4,11)
print(hw12)

make more 11

In [35]:
s = "piyush"
print(s.capitalize())
print(s.upper())
print(s.rjust(15))
print(s.center(7))
print(s.replace('y','(sigma)'))
print('   world  '.strip())

Piyush
PIYUSH
         piyush
 piyush
pi(sigma)ush
world

In [37]:
ml = "machine learning"
print(ml.title())

Machine Learning

**LIST**

In [38]:
xs = [3, 1, 2]
print(xs,xs[2])
print(xs[-1])

[3, 1, 2] 2
2

In [39]:
print(xs[-4])

IndexError: ignored

In [40]:
xs.append('bar')
print(xs)

[3, 1, 2, 'bar']

In [41]:
x = xs.pop()
print(x,xs)

bar [3, 1, 2]

In [43]:
nums = list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4] =[8,9,6]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 6, 4]

**Loops**

In [44]:
animals = ['cat','dog','monkey']
for i in animals:
  print(i)

cat
dog
monkey

In [45]:
animals = ['cat','dog','monkey']
for idx, i in enumerate(animals):
  print('#{} :{}'.format(idx+1,i))

#1 :cat
#2 :dog
#3 :monkey